<header class="bg-(--bg) h-14 w-full flex  justify-center align-middle drop-shadow-xl border-(--border) rounded-b-xl" >
  
    <h1 class=" text-center my-auto text-4xl font-bold font-mono ">
        <a href="#">
        To-Do
        </a>
    </h1>
</header>